<p-contextMenu [global]="true" [model]="menus"></p-contextMenu>
<div class="container back">
    <p-panel header="Fluxo de Caixa">
        <div class="margin">
            <div class="display">
                <div class="field">
                    <p-dropdown [options]="filtroDropdown" [(ngModel)]="escolha">
                        <template let-periodo pTemplate="item">
                            <div class="ui-helper-clearfix">
                                <div (click)="filtro(periodo.value)">{{periodo.label}}</div>
                            </div>
                        </template>
                    </p-dropdown>
                </div>
                <div class="field">
                    <p-calendar (keypress)="onlyDate($event)" [locale]="br" [(ngModel)]="dataInicio" dateFormat="dd/mm/yy" placeholder="Data de Inicio"></p-calendar>
                </div>
                <div class="field">
                    <p-calendar (keypress)="onlyDate($event)" [locale]="br" [(ngModel)]="dataFim" dateFormat="dd/mm/yy" placeholder="Data Fim"></p-calendar>
                </div>
                <div class="field">
                    <button pButton type="button" icon="fa fa-search" iconPos="left" (click)="periodoBusca(dataInicio, dataFim)"></button>
                </div>
            </div>
        </div>
        <div class="margin">
            <p-dataTable [value]="fluxodecaixa" sortField="order">
                <!--p-column field="order" header="Ordem"></p-column-->
                <p-column field="data" header="Data Pagto/Receb">
                    <template let-col let-fluxodecaixa="rowData" let-ri="rowIndex" pTemplate="body">
                        <span>{{fluxodecaixa[col.field] | numerobrasil:"date"}}</span>
                    </template>
                </p-column>
                <p-column field="vencimento" header="Vencimento do Receb">
                    <template let-col let-fluxodecaixa="rowData" let-ri="rowIndex" pTemplate="body">
                        <span>{{fluxodecaixa[col.field] | numerobrasil:"date"}}</span>
                    </template>
                </p-column>
                <p-column field="nome" header="Nome">
                    <template let-col let-fluxodecaixa="rowData" let-ri="rowIndex" pTemplate="body">
                        <div title={{fluxodecaixa[col.field]}} style="overflow: hidden; text-overflow: ellipsis; white-field: nowrap;">{{ fluxodecaixa[col.field] }}</div>
                    </template>                
                </p-column>
                <p-column field="valor" header="Valor">
                    <template let-col let-fluxodecaixa="rowData" let-ri="rowIndex" pTemplate="body">
                        <span [ngClass]="{ 'redNumber': fluxodecaixa[col.field] < 0 }">{{fluxodecaixa[col.field] | numerobrasil:"money"}}</span>
                    </template>
                </p-column>
                <p-column field="saldo" header="Saldo Diário">
                    <template let-col let-fluxodecaixa="rowData" let-ri="rowIndex" pTemplate="body">
                        <span [ngClass]="{ 'redNumber': fluxodecaixa[col.field] < 0 }">{{fluxodecaixa[col.field] | numerobrasil:"money"}}</span>
                    </template>
                </p-column>
                <p-column field="acumulado" header="Saldo Acumulado">
                    <template let-col let-fluxodecaixa="rowData" let-ri="rowIndex" pTemplate="body">
                        <span [ngClass]="{ 'redNumber': fluxodecaixa[col.field] < 0 }">{{fluxodecaixa[col.field] | numerobrasil:"money"}}</span>
                    </template>
                </p-column>
                <p-column field="hash" [style]="{'width':'89px','text-align':'center'}">
                    <template let-col let-fluxodecaixa="rowData" let-ri="rowIndex" pTemplate="body">
                        <button pButton type="button" icon="fa fa-search" iconPos="left" (click)="showDialog(fluxodecaixa[col.field], fluxodecaixa.tabela)"></button>
                        <button pButton type="button" icon="fa fa-pencil" iconPos="left" (click)="editar(fluxodecaixa[col.field], fluxodecaixa.tabela)"></button>                        
                    </template>
                </p-column>
            </p-dataTable>
        </div>
    </p-panel>
</div>

<p-dialog [(visible)]="display" modal="modal" responsive="true" width="702">
    <div class="layout2">
        <div class="field2 margin2"><b>Fornecedor:</b> {{fornecedor}}</div>
        <div class="field2 margin2"><b>Data de Emissão:</b> {{emissao | numerobrasil:"date"}}</div>
    </div>
    <div class="layout2">
        <div class="field2 margin2"><b>Operação:</b> {{operacao}}</div>
        <div class="field2 margin2"><b>Categoria:</b> {{categoria}}</div>
    </div>
    <div class="layout2">
        <div class="field2 margin2"><b>Nº de Série:</b> {{serie}}</div>
        <div class="field2 margin2"><b>Nota Fiscal:</b> {{nf}}</div>
        <div class="field2 margin2"><b>Nº da Compra:</b> {{compra}}</div>
    </div>
    <div class="margin2">====================================================================</div>
    <div *ngFor="let p of produtos" >
        <div class="field2 margin2"><b>Produto:</b></div>
        <div class="field2">{{p[0]}}</div>
        <div class="layout2">
            <div class="field2">=></div>
            <div class="field2">{{p[1]}}</div>
            <div class="field2">*</div>
            <div class="field2">{{p[2] | numerobrasil:"money" }}</div>
            <div class="field2">=</div>
            <div class="field2">{{p[3] | numerobrasil:"money" }}</div>
        </div>
    </div>
    <div class="margin2">====================================================================</div>
    <div class="layout2">
        <div class="field2 margin2"><b>Transportadora:</b> {{transportadora}}</div>
        <div class="field2 margin2"><b>Frete:</b> {{frete | numerobrasil:"money" }}</div>
    </div>
    <div class="margin2">====================================================================</div>
    <div class="field2 margin2"><b>Parcelas:</b></div>
    <div *ngFor="let pa of parcelas"  class="layout2">
        <div class="field2 margin2">{{pa[0] | numerobrasil:"date"}}</div>
        <div class="field2 margin2">{{pa[1] | numerobrasil:"money"}}</div>
    </div>
</p-dialog>


                