<p-contextMenu [global]="true" [model]="menus"></p-contextMenu>
<div class="container back">
    <p-panel header="Editar Venda">
        <div class="margin">
            <p-fieldset legend="Cabeçalho">                
                <div class="layout2">
                    <div class="field2 margin2"><b>Cliente:</b> {{cliente}}</div>
                    <div class="field2 margin2"><b>Data de Emissão:</b> {{emissaoFC | numerobrasil:"date"}}</div>
                </div>
                <div class="layout2">
                    <div class="field2 margin2"><b>Operação:</b> {{operacaoFC}}</div>
                    <div class="field2 margin2"><b>Categoria:</b> {{categoriaFC}}</div>
                </div>               
                <div class="layout2">
                    <div class="field2 margin2">
                        <span><b>Série: </b></span>
                        <input type="text" (keypress)="onlyNumber($event)" pInputText [(ngModel)]="serieFC" placeholder="Série"/>
                    </div>
                    <div class="field2 margin2">
                        <span><b>Número da Venda: </b></span>
                        <input type="text" (keypress)="onlyNumber($event)" pInputText [(ngModel)]="vendaFC" placeholder="Número da Venda"/>
                    </div>
                </div>
            </p-fieldset>
        </div>
        <div class="margin">
            <p-fieldset legend="Produtos">   
                <div class="display">
                    <button (click)="addProduto()" pButton type="button" label="Produto" iconPos="left" icon="fa-plus-circle"></button>
                </div>
                <div *ngFor="let num of items; let i=index">
                    <div class="display margin">
                        <div class="field">                            
                            <div pTooltip="Produto" class="input-style" tooltipPosition="top" title={{selectedProduto[num]}} style="cursor: default; width:205px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ selectedProduto[num] }}</div>
                        </div> 
                        <div class="field">
                            <div pTooltip="Preço médio no estoque" style="width:130px;" tooltipPosition="top" class="input-style">{{ pmEstoque[num] | numerobrasil:"money"}}</div>
                        </div>
                        <div class="field">
                            <div pTooltip="Quantidade total no estoque" style="width:100px;" tooltipPosition="top" class="input-style">{{ qtdTotal[num]}}</div>
                        </div>
                        <div class="field">
                            <div pTooltip="Preço médio na compra" style="width:130px;" tooltipPosition="top" class="input-style">{{ pm[num] | numerobrasil:"money"}}</div>
                        </div>
                        <div class="field">
                            <input pTooltip="Quantidade à ser vendida" tooltipPosition="top" style="width:100px;" (keypress)="onlyNumber($event)" pInputText [(ngModel)]="quantidade[num]" placeholder="Quantidade"/>
                        </div>
                        <div class="field">
                            <input pTooltip="Margem %" tooltipPosition="top" type="text" pInputText [(ngModel)]="margem[num]" style="width:100px"/>
                            <p-slider [(ngModel)]="margem[num]" [style]="{'width':'100px'}"></p-slider>
                        </div>
                        <div class="field">
                            <div pTooltip="Valor da Venda" tooltipPosition="top" style="width:150px;" class="input-style">{{ ((margem[num]/100)+1)*pm[num]*quantidade[num] | numerobrasil:"money"}}</div>
                        </div>
                    </div>
                </div>
                <div *ngFor="let num of items2; let i=index">
                    <div class="display margin">
                        <div class="field">
                            <p-autoComplete pTooltip="Produto" tooltipPosition="top" [(ngModel)]="selectedProduto2[num]" (ngModelChange)="onChange($event, num)" [suggestions]="searchProdutoList" (completeMethod)="searchProduto($event)" placeholder="Produto"></p-autoComplete>
                        </div>
                        <div class="field">
                            <div pTooltip="Preço médio no estoque" style="width:130px;" tooltipPosition="top" class="input-style">---</div>
                        </div>
                        <div class="field">
                            <div pTooltip="Quantidade total no estoque" style="width:100px;" tooltipPosition="top" class="input-style">---</div>
                        </div>
                        <div class="field">
                            <div pTooltip="Preço médio na compra" style="width:130px;" tooltipPosition="top" class="input-style">{{ pm2[num] | numerobrasil:"money"}}</div>
                        </div>
                        <div class="field">
                            <input pTooltip="Quantidade" tooltipPosition="top" style="width:100px;" (keypress)="onlyNumber($event)" pInputText [(ngModel)]="quantidade2[num]" placeholder="Quantidade"/>
                        </div>
                        <div class="field">
                            <input pTooltip="Margem %" tooltipPosition="top" type="text" pInputText [(ngModel)]="margem2[num]" style="width:100px"/>
                            <p-slider [(ngModel)]="margem2[num]" [style]="{'width':'100px'}"></p-slider>
                        </div>
                        <div class="field">
                            <div pTooltip="Valor da Venda" tooltipPosition="top" style="width:150px;" class="input-style">{{ ((margem2[num]/100)+1)*pm2[num]*quantidade2[num] | numerobrasil:"money"}}</div>
                        </div>
                        <div class="field icon-display">
                            <div>
                                <i class="fa fa-times" (click)="remove(i)" style="color:red"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </p-fieldset>
        </div>

        <div class="margin">
            <p-fieldset legend="Frete"> 
                <div class="display">
                    <div class="field">
                        <p-autoComplete [(ngModel)]="transportadoraFC" [suggestions]="searchTransportadoraList" (completeMethod)="searchTransportadora($event)" placeholder="Transportadora"></p-autoComplete>
                    </div>
                    <div class="field">
                        <input type="text" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                            pInputText [(ngModel)]="freteFC" placeholder="Frete"/>
                    </div>
                </div>
            </p-fieldset>
        </div>

        <div class="display margin">
            <div class="field paragrafo">
                <button (click)="somar()" pButton type="button" label="Somar" iconPos="left" icon="fa-check"></button>
            </div>
            <input
                type="text" 
                pInputText
                currencyMask
                [(ngModel)]="sum" 
                disabled                    
                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
            />
        </div>

        <div class="margin">
            <p-fieldset legend="Dias de Recebimento">
                <div class="display">
                    <button (click)="addPagamento()" pButton type="button" label="Recebimento" iconPos="left" icon="fa-plus-circle"></button>
                </div>
                <div *ngFor="let _num of itemsPgto; let i=index">
                    <div class="display margin">
                        <div div class="field">
                            <p-calendar (keypress)="onlyDate($event)" [locale]="br" [(ngModel)]="vencimento[_num]" dateFormat="dd/mm/yy" placeholder="Data de Vencimento"></p-calendar>
                        </div>
                        <div div class="field">
                            <p-calendar (keypress)="onlyDate($event)" [locale]="br" [(ngModel)]="datePgto[_num]" dateFormat="dd/mm/yy" placeholder="Data do Recebimento"></p-calendar>
                        </div>
                        <div class="field">
                            <input
                                pTooltip="Valor à Receber" tooltipPosition="top"
                                pInputText
                                currencyMask
                                [(ngModel)]="valorPgto[_num]" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" />
                        </div>
                        <div class="field icon-display">
                            <div>
                                <i class="fa fa-times" (click)="removePgto(i)" style="color:red"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </p-fieldset>
        </div>
        <div class="display margin">
            <div class="field paragrafo">
                <button (click)="verificar()" pButton type="button" label="Verificar Pagamentos" iconPos="left" icon="fa-check"></button>
            </div>
            <div class="field">
                <input
                    type="text" 
                    pInputText
                    currencyMask
                    [(ngModel)]="subtracao" 
                    disabled                    
                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                />
            </div>
            <div>
                <i class="fa fa-check fa-lg" style="margin-top: 6px;color:green" aria-hidden="true" *ngIf="check"></i>
                <i class="fa fa-times fa-lg" style="margin-top: 6px;color:red" aria-hidden="true" *ngIf="checkError"></i>
            </div>
            <p-growl [value]="msgs"></p-growl>
        </div>
        <div class="display margin">
            <div class="field paragrafo">
                <button
                    (click)="salvar(
                                selectedCliente,
                                valueEmissao,
                                selectedOperacao,
                                selectedCategoria,
                                serie,
                                venda,
                                selectedProduto,
                                pm,
                                quantidade,
                                margem,
                                selectedTransportadora,
                                frete,
                                sum,
                                valorPgto,
                                vencimento,
                                datePgto,
                                subtracao
                            )"
                    pButton type="button" label="Salvar" style="color:#fff;background:green;border-color:green;margin-bottom:12px;margin-top:5px">
                </button>
                <button
                    (click)="sair()"
                    pButton type="button" label="Sair sem salvar" style="color:#fff;background:red;border-color:red;margin-bottom:12px;margin-top:5px">
                </button>
                <button
                    (click)="excluir(hash)"
                    pButton type="button" label="Excluir" icon="fa-trash" style="color:#fff;background:red;border-color:red;margin-bottom:12px;margin-top:5px">
                </button>
            </div>
        </div>
    </p-panel>
</div>
<p-confirmDialog icon="fa fa-question-circle" width="425" #cd>
    <p-footer>
        <button type="button" pButton icon="fa-close" label="Não"></button>
        <button type="button" pButton icon="fa-check" label="Sim" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>