<div class="container">
    <div class="display">
        <div class="field">
            <p-autoComplete [(ngModel)]="selectedFornecedor" [suggestions]="searchFornecedorList" (completeMethod)="searchFornecedor($event)" placeholder="Fornecedor"></p-autoComplete>
            <!--p-dropdown [options]="fornecedores" [(ngModel)]="selectedFornecedor"></p-dropdown-->
        </div>
        <div class="field icon-display">
            <div>
                <i class="fa fa-plus-circle" (click)="selectEdit($event, 'Fornecedores', op)"></i>
            </div>
        </div>
        <div div class="field">
            <p-calendar [(ngModel)]="valueEmissao" dateFormat="dd/mm/yy" placeholder="Data Emissão"></p-calendar>
        </div>
        <div class="field">
            <p-autoComplete (onDropdownClick)="operacaoDropdownClick($event)" [dropdown]="true" [(ngModel)]="selectedOperacao" [suggestions]="searchOperacaoList" (completeMethod)="searchOperacao($event)" placeholder="Operação"></p-autoComplete>
            <!--p-dropdown [options]="operacao" [(ngModel)]="selectedOperacao"></p-dropdown-->
        </div>
        <div class="field icon-display">
            <div>
                <i class="fa fa-plus-circle" (click)="selectEdit($event, 'Operação', op)"></i>
            </div>
        </div>
        <div class="field">
            <p-autoComplete (onDropdownClick)="categoriaDropdownClick($event)" [dropdown]="true" [(ngModel)]="selectedCategoria" [suggestions]="searchCategoriaList" (completeMethod)="searchCategoria($event)" placeholder="Categoria"></p-autoComplete>
            <!--p-dropdown [options]="categoria" [(ngModel)]="selectedCategoria"></p-dropdown-->
        </div>
        <div class="field icon-display">
            <div>
                <i class="fa fa-plus-circle" (click)="selectEdit($event, 'Categoria', op)"></i>
            </div>
        </div>
    </div>
    <div class="display">
        <div class="field">
            <input type="text" pInputText [(ngModel)]="serie" placeholder="Série"/>
        </div>
        <div class="field">
            <input type="text" pInputText [(ngModel)]="nf" placeholder="Número NF"/>
        </div>
        <div class="field">
            <input type="text" pInputText [(ngModel)]="compra" placeholder="Número da Compra"/>
        </div>
    </div>
    <div class="display">
        <button (click)="addProduto()" pButton type="button" label="Produto" iconPos="left" icon="fa-plus-circle"></button>
    </div>
    <div *ngFor="let num of items; let i=index">
        <div class="display">
            <div class="field">
                <p-autoComplete [(ngModel)]="selectedProduto[num]" [suggestions]="searchProdutoList" (completeMethod)="searchProduto($event)" placeholder="Produto"></p-autoComplete>
                <!--p-dropdown [options]="produto" [(ngModel)]="selectedProduto[num]"></p-dropdown-->
            </div>
            <div class="field icon-display">
                <div>
                    <i class="fa fa-plus-circle" (click)="selectEdit($event, 'Produto', op)"></i>
                </div>
            </div>
            <div class="field">
                <input (keypress)="onlyNumber($event)" pInputText [(ngModel)]="quantidade[num]" placeholder="Quantidade"/>
            </div>

            <div class="field">
                <input
                    pInputText
                    currencyMask                    
                    [(ngModel)]="valor[num]" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" />
            </div>
            <div class="field">
                <input
                    type="text" 
                    pInputText
                    currencyMask
                    [(ngModel)]="quantidade[num]*valor[num]" 
                    disabled                    
                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                />
            </div>
            <div class="field icon-display">
                <div>
                    <i class="fa fa-times" (click)="remove(i)" style="color:red"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="display">
        <div class="field">
            <p-autoComplete [(ngModel)]="selectedTransportadora" [suggestions]="searchTransportadoraList" (completeMethod)="searchTransportadora($event)" placeholder="Transportadora"></p-autoComplete>
            <!--p-dropdown [options]="transportadora" [(ngModel)]="selectedTransportadora"></p-dropdown-->
        </div>
        <div class="field icon-display" (click)="selectEdit($event, 'Transportadora', op)">
            <div>
                <i class="fa fa-plus-circle"></i>
            </div>
        </div>
        <div class="field">
            <input type="text" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                   pInputText [(ngModel)]="frete" placeholder="Frete"/>
        </div>
    </div>
    <div class="display">
        <div class="field">
            <button (click)="somar()" pButton type="button" label="Somar" iconPos="left" icon="fa-check"></button>
        </div>
        <input
            type="text" 
            pInputText
            currencyMask
            [(ngModel)]="sum" 
            disabled                    
            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
        />
    </div>

    <div class="display">
        <label>Dias do Pagamento</label>
    </div>

    <div class="display">
        <button (click)="addPagamento()" pButton type="button" label="Pagamento" iconPos="left" icon="fa-plus-circle"></button>
    </div>

    <div *ngFor="let _num of itemsPgto; let i=index">
        <div class="display">
            <div class="field">
                <input
                    pInputText
                    currencyMask
                    [(ngModel)]="valorPgto[_num]" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" />
            </div>
            <div div class="field">
                <p-calendar [(ngModel)]="datePgto[_num]" dateFormat="dd/mm/yy" placeholder="Data"></p-calendar>
            </div>
            <div class="field icon-display">
                <div>
                    <i class="fa fa-times" (click)="removePgto(i)" style="color:red"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="display">
        <div class="field">
            <button (click)="verificar()" pButton type="button" label="Verificar Pagamentos" iconPos="left" icon="fa-check"></button>
        </div>
        <div class="field">
            <input
                type="text" 
                pInputText
                currencyMask
                [(ngModel)]="subtracao" 
                disabled                    
                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
            />
        </div>
    </div>
    <div class="display">
        <div class="field">
            <button 
                (click)="salvar(
                            selectedFornecedor,
                            valueEmissao,
                            selectedCategoria,
                            serie,
                            nf,
                            compra,
                            selectedProduto,
                            quantidade,
                            valor,
                            selectedTransportadora,
                            frete,
                            sum,
                            valorPgto,
                            datePgto,
                            subtracao
                        )"
                pButton type="button" label="Salvar" style="color:#fff;background-color:green">
            </button>
        </div>
    </div>
    <p-autoComplete [(ngModel)]="text" [suggestions]="searchList" (completeMethod)="search($event)" 
            (onDropdownClick)="handleDropdown(event)"></p-autoComplete>
</div>
{{selectedFornecedor}}
<p-overlayPanel #op>
    <input type="text" pInputText [(ngModel)]="item" placeholder="{{ label }}"/>
    <i class="fa fa-check-circle" style="color:green;margin-left:10px" (click)="itemEscolhido(label, item);op.hide($event)"></i>    
</p-overlayPanel>




