<div class="container">
    <div class="display">
        <div class="field">
            <p-dropdown [options]="fornecedores" [(ngModel)]="selectedFornecedor"></p-dropdown>
        </div>
        <div class="field icon-display">
            <div>
                <i class="fa fa-plus-circle" (click)="selectEdit($event, 'Fornecedores', op)"></i>
            </div>
        </div>
        <div div class="field">
            <p-calendar [(ngModel)]="valueEmissao" dateFormat="dd/mm/yy" placeholder="Data Emissão"></p-calendar>
        </div>
        <div class="field">
            <p-dropdown [options]="operacao" [(ngModel)]="selectedOperacao"></p-dropdown>
        </div>
        <div class="field icon-display">
            <div>
                <i class="fa fa-plus-circle" (click)="selectEdit($event, 'Operação', op)"></i>
            </div>
        </div>
        <div class="field">
            <p-dropdown [options]="categoria" [(ngModel)]="selectedCategoria"></p-dropdown>
        </div>
        <div class="field icon-display">
            <div>
                <i class="fa fa-plus-circle" (click)="selectEdit($event, 'Categoria', op)"></i>
            </div>
        </div>
    </div>
    <div class="display">
        <div class="field">
            <input type="text" pInputText [(ngModel)]="serie" placeholder="Série"/>
        </div>
        <div class="field">
            <input type="text" pInputText [(ngModel)]="nf" placeholder="Número NF"/>
        </div>
        <div class="field">
            <input type="text" pInputText [(ngModel)]="compra" placeholder="Número da Compra"/>
        </div>
    </div>
    <div class="display">
        <button (click)="addProduto()" pButton type="button" label="Add" iconPos="left" icon="fa-plus-circle"></button>
    </div>
    <div *ngFor="let num of items; let i=index">
        <div class="display">
            <div class="field">
                <p-dropdown [options]="produto" [(ngModel)]="selectedProduto[num]"></p-dropdown>
            </div>
            <div class="field icon-display">
                <div>
                    <i class="fa fa-plus-circle" (click)="selectEdit($event, 'Produto', op)"></i>
                </div>
            </div>
            <div class="field">
                <input type="text" pInputText [(ngModel)]="quantidade[num]" placeholder="Quantidade"/>
            </div>

            <div class="field">
                <input
                    pInputText
                    mask-money
                    [(ngModel)]="valor[num]"
                    [(moneyModel)]="moneyValue"
                    [money-mask-options]="{ prefix: '$ ', thousands: ',', decimal: '.' }" />
            </div>
           
            <!--div class="field">
                <input type="text" currencyMask 
                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                pInputText [(ngModel)]="valor[num]" placeholder="Valor"/>
            </div-->
            <div class="field">
                <input type="text" pInputText (input)="quantidade[num]*valor[num]" [ngModel]="quantidade[num]*valor[num]" disabled placeholder="Valor"/>
            </div>
            <div class="field icon-display">
                <div>
                    <i class="fa fa-times" (click)="remove(i)"></i>
                </div>
            </div>
        </div>
    </div>
    {{selectedProduto}}
    <div class="display">
        <div class="field">
            <p-dropdown [options]="transportadora" [(ngModel)]="selectedTransportadora"></p-dropdown>
        </div>
        <div class="field icon-display" (click)="selectEdit($event, 'Transportadora', op)">
            <div>
                <i class="fa fa-plus-circle"></i>
            </div>
        </div>
        <div class="field">
            <input type="text" pInputText [(ngModel)]="frete" placeholder="Frete"/>
        </div>
    </div>
    <div class="display">
        <label>Dias do Pagamento</label>
    </div>
    <div class="display">
        <div class="field">
            <input type="text" pInputText [(ngModel)]="valorPagto" placeholder="Valor"/>
        </div>
        <div div class="field">
            <p-calendar [(ngModel)]="valuePgto" dateFormat="dd/mm/yy" placeholder="Data"></p-calendar>
        </div>
    </div>
</div>

<p-overlayPanel #op>
    <input type="text" pInputText [(ngModel)]="item" placeholder="{{ label }}"/>
    <i class="fa fa-check-circle" style="color:green;margin-left:10px" (click)="itemEscolhido(label, item);op.hide($event)"></i>    
</p-overlayPanel>


