<p-contextMenu [global]="true" [model]="menus"></p-contextMenu>
<div class="container back">
    <p-panel header="Editar Produto">
        <div class="margin">
            <p-fieldset legend="Cabeçalho"> 
                <div class="layout2">
                    <div class="field2 margin2"><b>Fornecedor:</b> {{fornecedorFC}}</div>
                    <div class="field2 margin2"><b>Data de Emissão:</b> {{emissaoFC | numerobrasil:"date"}}</div>
                </div>
                <div class="layout2">
                    <div class="field2 margin2"><b>Operação:</b> {{operacaoFC}}</div>
                    <div class="field2 margin2"><b>Categoria:</b> {{categoriaFC}}</div>
                </div>               
                <div class="layout2">
                    <div class="field2 margin2">
                        <span><b>Série: </b></span>
                        <input type="text" (keypress)="onlyNumber($event)" pInputText [(ngModel)]="serieFC" placeholder="Série"/>
                    </div>
                    <div class="field2 margin2">
                        <span><b>Número NF: </b></span>
                        <input type="text" (keypress)="onlyNumber($event)" pInputText [(ngModel)]="nfFC" placeholder="Número NF"/>
                    </div>
                    <div class="field2 margin2">
                        <span><b>Número da Compra: </b></span>
                        <input type="text" (keypress)="onlyNumber($event)" pInputText [(ngModel)]="compraFC" placeholder="Número da Compra"/>
                    </div>
                </div>
            </p-fieldset>
        </div>
        <div class="margin">
            <p-fieldset legend="Produtos">   
                <div class="display">
                    <button (click)="addProduto()" pButton type="button" label="Produto" iconPos="left" icon="fa-plus-circle"></button>
                </div>
                <div *ngFor="let num of items; let i=index">
                    <div class="display margin">
                        <div class="field">                            
                            <p-autoComplete (ngModelChange)="onChange($event, num)" [(ngModel)]="selectedProduto[i]" [suggestions]="searchProdutoList" (completeMethod)="searchProduto($event)" placeholder="Produto"></p-autoComplete>
                        </div>
                        <div class="field icon-display">
                            <div>
                                <i class="fa fa-plus-circle" (click)="selectEdit($event, 'Produto', op)"></i>
                            </div>
                        </div>
                        
                        <div class="field">
                            <input (keypress)="onlyNumber($event)" style="width: 80px" disabled pInputText [(ngModel)]="quantidadeAtual[num]" placeholder="Qtd Atual"/>
                        </div>
                        <div class="field">
                            <input 
                                (keypress)="onlyNumber($event)"
                                style="width: 130px"
                                disabled
                                pInputText
                                currencyMask
                                [(ngModel)]="pm[num]" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                                placeholder="CM Atual"/>
                        </div>

                        <div class="field">
                            <input (keypress)="onlyNumber($event)" style="width: 80px" pInputText [(ngModel)]="quantidade[i]" placeholder="Qtd"/>
                        </div>
                        <br>

                        <div class="field">
                            <input
                                (keypress)="onlyNumber($event)"
                                style="width: 130px"
                                pInputText
                                currencyMask
                                (ngModelChange)="onChangeCM($event, num)"
                                [(ngModel)]="valor[i]" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" />
                        </div>
                        
                        <div class="field">
                            <input (keypress)="onlyNumber($event)" style="width: 130px" disabled pInputText
                            currencyMask
                            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                            [(ngModel)]="pmNovo[num]"
                            placeholder="Novo CM"/>
                        </div>

                        <div class="field">
                            <input
                                style="width: 150px"
                                type="text" 
                                pInputText
                                currencyMask
                                [(ngModel)]="quantidade[i]*valor[i]"
                                disabled                    
                                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                            />
                        </div>
                        <div class="field icon-display">
                            <div>
                                <i class="fa fa-times" (click)="remove(i)" style="color:red"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </p-fieldset>
        </div>

        <div class="margin">
            <p-fieldset legend="Frete"> 
                <div class="display">
                    <div class="field">
                        <p-autoComplete [(ngModel)]="transportadoraFC" [suggestions]="searchTransportadoraList" (completeMethod)="searchTransportadora($event)" placeholder="Transportadora"></p-autoComplete>
                    </div>
                    <div class="field icon-display" (click)="selectEdit($event, 'Transportadora', op)">
                        <div>
                            <i class="fa fa-plus-circle"></i>
                        </div>
                    </div>
                    <div class="field">
                        <input type="text" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                            pInputText [(ngModel)]="freteFC" placeholder="Frete"/>
                    </div>
                </div>
            </p-fieldset>
        </div>

        <div class="display margin">
            <div class="field paragrafo">
                <button (click)="somar()" pButton type="button" label="Somar" iconPos="left" icon="fa-check"></button>
            </div>
            <input
                type="text" 
                pInputText
                currencyMask
                [(ngModel)]="sum" 
                disabled                    
                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
            />
        </div>

        <div class="margin">
            <p-fieldset legend="Dias do Pagamento">
                <div class="display">
                    <button (click)="addPagamento()" pButton type="button" label="Pagamento" iconPos="left" icon="fa-plus-circle"></button>
                </div>

                <div *ngFor="let _num of itemsPgto; let i=index">
                    <div class="display margin">
                        <div div class="field">
                            <p-calendar (keypress)="onlyDate($event)" [locale]="br" [(ngModel)]="datePgto[_num]" dateFormat="dd/mm/yy" placeholder="Data"></p-calendar>
                        </div>
                        <div class="field">
                            <input
                                pInputText
                                currencyMask
                                [(ngModel)]="valorPgto[_num]" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" />
                        </div>
                        <div class="field icon-display">
                            <div>
                                <i class="fa fa-times" (click)="removePgto(i)" style="color:red"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </p-fieldset>
        </div>
        <div class="display margin">
            <div class="field paragrafo">
                <button (click)="verificar()" pButton type="button" label="Verificar Pagamentos" iconPos="left" icon="fa-check"></button>
            </div>
            <div class="field">
                <input
                    type="text" 
                    pInputText
                    currencyMask
                    [(ngModel)]="subtracao" 
                    disabled                    
                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                />
            </div>
            <div>
                <i class="fa fa-check fa-lg" style="margin-top: 6px;color:green" aria-hidden="true" *ngIf="check"></i>
                <i class="fa fa-times fa-lg" style="margin-top: 6px;color:red" aria-hidden="true" *ngIf="checkError"></i>
            </div>
            <p-growl [value]="msgs"></p-growl>
        </div>
        <div class="display margin">
            <div class="field paragrafo">
                <button
                    (click)="salvar(
                                selectedFornecedor,
                                valueEmissao,
                                selectedOperacao,
                                selectedCategoria,
                                serie,
                                nf,
                                compra,
                                selectedProduto,
                                quantidade,
                                valor,
                                selectedTransportadora,
                                frete,
                                sum,
                                valorPgto,
                                datePgto,
                                subtracao
                            )"
                    pButton type="button" label="Salvar" style="color:#fff;background:green;border-color:green;margin-bottom:12px;margin-top:5px">
                </button>
            </div>
        </div>
    </p-panel>
</div>

<p-overlayPanel #op>
    <input type="text" pInputText [(ngModel)]="item" placeholder="{{ label }}"/>
    <i class="fa fa-check-circle certo" (click)="itemEscolhido(label, item);op.hide($event)"></i>    
</p-overlayPanel>




