<p-contextMenu [global]="true" [model]="menus"></p-contextMenu>
<div class="container back">
    <p-panel header="Editar Produto">
        <div class="margin">
            <p-fieldset legend="Cabeçalho"> 
                <div class="layout2">
                    <div class="field2 margin2"><b>Fornecedor:</b> {{fornecedorFC}}</div>
                    <div class="field2 margin2"><b>Data de Emissão:</b> {{emissaoFC | numerobrasil:"date"}}</div>
                </div>
                <div class="layout2">
                    <div class="field2 margin2"><b>Operação:</b> {{operacaoFC}}</div>
                    <div class="field2 margin2"><b>Categoria:</b> {{categoriaFC}}</div>
                </div>               
                <div class="layout2">
                    <div class="field2 margin2">
                        <span><b>Série: </b></span>
                        <input type="text" (keypress)="onlyNumber($event)" pInputText [(ngModel)]="serieFC" placeholder="Série"/>
                    </div>
                    <div class="field2 margin2">
                        <span><b>Número NF: </b></span>
                        <input type="text" (keypress)="onlyNumber($event)" pInputText [(ngModel)]="nfFC" placeholder="Número NF"/>
                    </div>
                    <div class="field2 margin2">
                        <span><b>Número da Compra: </b></span>
                        <input type="text" (keypress)="onlyNumber($event)" pInputText [(ngModel)]="compraFC" placeholder="Número da Compra"/>
                    </div>
                </div>
            </p-fieldset>
        </div>
        <div class="margin">
            <p-fieldset legend="Produtos">
                <div class="display">
                    <button (click)="addProduto()" pButton type="button" label="Produto" iconPos="left" icon="fa-plus-circle"></button>
                </div>
                <div *ngFor="let num of items; let i=index">
                    <div class="display margin">
                        <div class="field center-div">                            
                            <div pTooltip="Produto" class="input-style" tooltipPosition="top" title={{selectedProduto[num]}} style="cursor: default; width:205px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ selectedProduto[i] }}</div>
                        </div>                       
                        <div class="field center-div">
                            <div pTooltip="Quantidade no estoque" tooltipPosition="top" class="input-style">{{ quantidadeAtual[num] }}</div>
                        </div>
                        <div class="field center-div">
                            <div pTooltip="Preço médio no estoque" style="width:130px;" tooltipPosition="top" class="input-style">{{ pm[num] | numerobrasil:"money"}}</div>
                        </div>

                        <div class="field">
                            <input pTooltip="Quantidade" tooltipPosition="top" (keypress)="onlyNumber($event)" style="width: 80px" pInputText [(ngModel)]="quantidade[num]" placeholder="Qtd"/>
                        </div>
                        <br>
                        <div class="field">
                            <input
                                pTooltip="Preço" tooltipPosition="top"
                                (keypress)="onlyNumber($event)"
                                style="width: 130px"
                                pInputText
                                currencyMask
                                (ngModelChange)="onChangeCM($event, num)"
                                [(ngModel)]="valor[num]" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" />
                        </div>                        
                        <div class="field center-div">
                            <div pTooltip="Preço médio junto com o estoque" style="width:130px;" tooltipPosition="top" class="input-style">{{ pmNovo[num] | numerobrasil:"money"}}</div>
                        </div>

                        <div class="field center-div">
                            <div pTooltip="Total" tooltipPosition="top" style="width:150px;" class="input-style">{{ quantidade[i]*valor[num] | numerobrasil:"money"}}</div>
                        </div>
                        <!--div class="field icon-display">
                            <div>
                                <i class="fa fa-times" (click)="remove(num)" style="color:red"></i>
                            </div>
                        </div-->
                    </div>
                </div>
                <!-- Lista de produtos-->
                <div *ngFor="let num of items2; let i=index">
                    <div class="display margin">
                        <div class="field">
                            <p-autoComplete (onSelect)="onSelected($event, num)" pTooltip="Produto" tooltipPosition="top" [(ngModel)]="selectedProduto2[num]" [suggestions]="searchProdutoList" (completeMethod)="searchProduto($event)" placeholder="Produto"></p-autoComplete>
                        </div>
                        <div class="field">
                            <div pTooltip="Quantidade no estoque" tooltipPosition="top" class="input-style">{{quantidadeAtual2[num]}}</div>
                            <!--input (keypress)="onlyNumber($event)" style="width: 80px" disabled pInputText [(ngModel)]="quantidadeAtual2[num]" placeholder="Qtd Atual"/-->
                        </div>
                        <div class="field">
                            <div pTooltip="Preço médio no estoque" style="width:130px;" tooltipPosition="top" class="input-style">{{ pm2[num] | numerobrasil:"money"}}</div>
                            <!--input 
                                (keypress)="onlyNumber($event)"
                                style="width: 130px"
                                disabled
                                pInputText
                                currencyMask
                                [(ngModel)]="pm2[num]" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                                placeholder="CM Atual"/-->
                        </div>

                        <div class="field">
                            <input pTooltip="Quantidade" tooltipPosition="top" (keypress)="onlyNumber($event)" style="width: 80px" pInputText [(ngModel)]="quantidade2[num]" placeholder="Qtd"/>
                        </div>
                        <br>

                        <div class="field">
                            <input
                                pTooltip="Preço" tooltipPosition="top"
                                (keypress)="onlyNumber($event)"
                                style="width: 130px"
                                pInputText
                                currencyMask
                                (ngModelChange)="onChangeCM($event, num)"
                                [(ngModel)]="valor2[num]" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" />
                        </div>
                        
                        <div class="field">
                            <div pTooltip="Preço médio junto com o estoque" style="width:130px;" tooltipPosition="top" class="input-style">{{ pmNovo2[num] | numerobrasil:"money"}}</div>
                            <!--input (keypress)="onlyNumber($event)" style="width: 130px" disabled pInputText
                                currencyMask
                                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                                [(ngModel)]="pmNovo2[num]"
                                placeholder="Novo CM"
                            /-->
                        </div>

                        <div class="field">
                            <div pTooltip="Total" tooltipPosition="top" style="width:150px;" class="input-style">{{ quantidade2[num]*valor2[i] | numerobrasil:"money"}}</div>
                            <!--input
                                style="width: 150px"
                                type="text" 
                                pInputText
                                currencyMask
                                [(ngModel)]="quantidade2[num]*valor2[num]" 
                                disabled                    
                                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                            /-->
                        </div>
                        <div class="field icon-display">
                            <div>
                                <i class="fa fa-times" (click)="remove2(i)" style="color:red"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </p-fieldset>
        </div>

        <div class="margin">
            <p-fieldset legend="Frete"> 
                <div class="display">
                    <div class="field">
                        <p-autoComplete [(ngModel)]="transportadoraFC" [suggestions]="searchTransportadoraList" (completeMethod)="searchTransportadora($event)" placeholder="Transportadora"></p-autoComplete>
                    </div>
                    <div class="field">
                        <input type="text" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                            pInputText [(ngModel)]="freteFC" placeholder="Frete"/>
                    </div>
                </div>
            </p-fieldset>
        </div>

        <div class="display margin">
            <div class="field paragrafo">
                <button (click)="somar()" pButton type="button" label="Somar" iconPos="left" icon="fa-check"></button>
            </div>
            <input
                type="text" 
                pInputText
                currencyMask
                [(ngModel)]="sum" 
                disabled                    
                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
            />
        </div>

        <div class="margin">
            <p-fieldset legend="Dias do Pagamento">
                <div class="display">
                    <button (click)="addPagamento()" pButton type="button" label="Pagamento" iconPos="left" icon="fa-plus-circle"></button>
                </div>
                <div *ngFor="let num of itemsPgto; let i=index">
                    <div class="display margin">
                        <div div class="field">
                            <p-calendar (keypress)="onlyDate($event)" [locale]="br" [(ngModel)]="datePgto[num]" dateFormat="dd/mm/yy" placeholder="Data"></p-calendar>
                        </div>
                        <div class="field">
                            <input
                                pInputText
                                currencyMask
                                [(ngModel)]="valorPgto[num]" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" />
                        </div>
                        <div class="field icon-display">
                            <div>
                                <i class="fa fa-times" (click)="removePgto(i)" style="color:red"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </p-fieldset>
        </div>
        <div class="display margin">
            <div class="field paragrafo">
                <button (click)="verificar()" pButton type="button" label="Verificar Pagamentos" iconPos="left" icon="fa-check"></button>
            </div>
            <div class="field">
                <input
                    type="text" 
                    pInputText
                    currencyMask
                    [(ngModel)]="subtracao" 
                    disabled                    
                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                />
            </div>
            <div>
                <i class="fa fa-check fa-lg" style="margin-top: 6px;color:green" aria-hidden="true" *ngIf="check"></i>
                <i class="fa fa-times fa-lg" style="margin-top: 6px;color:red" aria-hidden="true" *ngIf="checkError"></i>
            </div>
            <p-growl [value]="msgs"></p-growl>
        </div>
        <div class="display margin">
            <div class="field paragrafo">
                <button *ngIf="verificarNota"
                    (click)="salvar(
                                fornecedorFC,
                                emissaoFC,
                                operacaoFC,
                                categoriaFC,                                
                                hash,
                                serieFC,
                                nfFC,
                                compraFC,
                                selectedProduto,
                                quantidade,
                                valor,
                                selectedProduto2,
                                quantidade2,
                                valor2,
                                transportadoraFC,
                                freteFC,
                                sum,
                                valorPgto,
                                datePgto,
                                subtracao
                            )"
                    pButton type="button" label="Salvar" style="color:#fff;background:green;border-color:green;margin-bottom:12px;margin-top:5px">
                </button>
                <div *ngIf="!verificarNota" style="width:700px;" class="input-style">Nota com produto(s) vendido(s), para altera-la ou exclui-la é necessário excluir a(s) venda(s)</div>
                <button
                    (click)="sair()"
                    pButton type="button" label="Sair sem salvar" style="color:#fff;background:red;border-color:red;margin-bottom:12px;margin-top:5px">
                </button>
                <button *ngIf="verificarNota"
                    (click)="excluir(hash)"
                    pButton type="button" label="Excluir" icon="fa-trash" style="color:#fff;background:red;border-color:red;margin-bottom:12px;margin-top:5px">
                </button>
            </div>
        </div>
    </p-panel>
</div>
<p-confirmDialog icon="fa fa-question-circle" width="425" #cd>
    <p-footer>
        <button type="button" pButton icon="fa-close" label="Não"></button>
        <button type="button" pButton icon="fa-check" label="Sim" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>



