<div class="container">
    <div class="centro">
        <div>
            <p-panel header="Autenticar-se">
                <div class="margin">
                    <p-fieldset legend="Login"> 
                        <div class="display margin">
                            <div class="field">
                                <input type="text" pInputText [(ngModel)]="username" placeholder="Usuário"/>
                            </div>
                        </div>
                        <div class="display margin bottom">
                            <div class="field">
                                <input type="password" pInputText [(ngModel)]="senha" placeholder="Senha"/>
                            </div>
                        </div>
                    </p-fieldset>
                </div>        
                <div class="display-right margin">
                    <div>
                        <button 
                            (click)="login(username, senha)"                        
                            pButton type="button" label="Entrar" style="color:#fff;background:#2399e5;border-color:#1f89ce;margin-bottom:12px;margin-top:5px">
                        </button>
                    </div>
                </div>
            </p-panel>
        </div>
    </div>
</div>
